*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}

body{
  position: relative;
}

:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --black-bg-color: #000;
  --text-color: #fff;
  --main-color: #0ef;
  --second-color: #00f;
}

   /*------------Top Links---------*/
.top-links{
  display: flex;
  padding: 1rem 10rem 1rem 2rem;
  background-color: var(--second-bg-color);

}

.right span{
  margin-left: 1.5rem;
}

.right i{
  margin-right: 2px;
}

.left{
  right: 0;
  float: right;
  padding-left: 30%;
}

.left a{
  margin-left: 1rem;
  text-decoration: none;
}

/*--------Top links For mobiLe------*/
@media (width < 430px) {
  .top-links{
      display: none;
  }

@media (width < 1280px) {
  .right span{
      margin-left: 1rem;
  }
  .top-links{
      margin-top: -30rem;
  }
}
}

/*--------Navbar----------*/
.header{
 /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a{
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 3rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a:active{
  color: var(--main-color);
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/*-------Navbar Responsive--------*/
@media (width < 430px){
  .header-design{
      margin-top: -95rem;
  }
}

@media (width < 1280px){
  .header-design{
      margin-top: -12rem;
  }
}

/*-------------Navbar Responsive-----------*/
@media (max-width: 1200px) {
  html{
      font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header{
     padding: 2rem 3%; 
     
  }
  

  section{
      padding: 10rem 3% 2rem;
  }

  .services{
      padding-bottom: 7rem;
  }

  .portfolio{
      padding-bottom: 7rem;
  }

  .contact{
      min-height: auto;
  }

  .footer{
      padding: 2rem 3rem;
  }
}

@media (max-width: 768px) {
  #menu-icon{
      display: block;
  }

  #navbar{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
      display: none;
  }

  .navbar.active{
      display: block;
  }

  .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
  }

  @media (max-width: 360px) {
      #menu{
          display: none;
          float: left;
      }

      #menu-icon{
          top: 0;
      }
  }
}
   #container{
      
      background-color:#E9C46A;
    }
    
    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #2A9D8F;
    }
    
    h2 {
      color: #264653;
    }
    
    .social-links {
      margin-bottom: 20px;
    }
    
    .social-links a {
      display: inline-block;
      margin-right: 20px;
      color: #E9C46A;
      background-color: #E76F51;
      text-decoration: none;
      
    }
    
    label {
      color: #264653;
    }
    
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 3px;
      resize: vertical;
    }
    
    button {
      background-color: #264653;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
    }

    /*---------Footer----------*/
footer{
  background: #111;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: #E9C46A;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #264653;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #264653;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background:  #264653;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}
footer
{
  background-color: #E76F51;
}
